* {
    font-family: 'Consolas', sans-serif;
    background-color: rgb(205, 217, 211);
    color: rgba(24, 94, 29, 0.521);
}

/* main page */

h1 {
    background-color: lime;
    border: 5px inset;
    border-color: aliceblue;
    width: 300px;
    height: 50px;
    max-width: 300px;
    max-height: 50px;
    margin: 20px auto;
    text-align: center;
    padding-top: 5px;
}

nav {
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    border: 5px outset;
    border-color: aliceblue;
    box-sizing: border-box;
}

#padtitle {
    margin: 150px auto 10px auto;
    width: 290px;
    height: 75px;
}

button {
    width: 75px;
    height: 75px;
    margin: 7px;
    border: 5px outset;
    border-color: aliceblue;
    background-color: lightgray;
    cursor: pointer;
}

button:hover {
    background-color: rgba(214, 238, 206, 0.772);
}

button:active {
    transform: scale(.94);
}

#forClick:active {
    transform: scale(.90);
}

button:hover.inactive {
    background-color: rgba(248, 104, 104, 0.322);
}

.tooltip-container {
    position: absolute;
    display: none;
    width: 25%;
    max-width: 300px;
    height: fit-content;
    padding: 2px;
    margin: 100px auto 10px 70px;
    z-index: 1;
    background-color: rgba(0, 255, 0, 0.459);
    border: 3px inset;
    border-color: aliceblue;
}

.tooltip-container>p {
    background-color: rgba(0, 255, 0, 0.123);
}


/* end main css */

/* all pages */

section {
    margin: 10px;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
    background-color: lime;
    border: 5px inset;
    border-color: aliceblue;
    padding: 5px;
}

.a {
    /* .a is word links, all except buttons */
    font-family: 'Imbue', 'sans-serif';
    font-weight: 500;
    font-size: 1.5rem;
    margin: 10px;
}

.home-button {
    width: 100px;
    height: 50px;
    margin: 10px 5px;
}

/* writing page */

#writing-header {
    display: flex;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
}

p {
    margin: 10px;
}

fieldset {
    margin: 5px;
    border-color: lime;
    border-width: .5rem;
}

#poetry {
    display: flex;
    flex-direction: row;
}

/* webs page */

#web-header {
    text-align: center;
    font-size: 1rem;
}

/* loved page */

#grams {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    flex-wrap: wrap;
}

.games {
    min-height: 300px;
    max-height: 300px;
    min-width: 300px;
    max-width: 300px;
    margin: 10px 5px;
    border: 5px solid rgba(24, 94, 29, 0.521);
}

#gameCard {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


/* cat page */

.kitty {
    width: 200px;
    height: 200px;
    max-height: 200px;
    max-width: 200px;
    margin: 10px 5px;
    border: 5px solid rgba(24, 94, 29, 0.521);
}

#nimmy {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width:320px) {
    .kitty {
        width: 30%;
        height: auto;
    }
    /* make tooltip change */
    .tooltip-container {
        width: 50%;
        height: fit-content;
    }
}

/* contact page */ 

#contact {
    padding: 10px;
    margin: 2% 35%;
    width: fit-content;
    height: fit-content;
}

#go-button {
    width: 350px;
    height: 50px;
}

textarea {
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    height: 100px;
    margin-top: 5px;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: lime;
    border: 5px inset;
    border-color: aliceblue;
    padding: 5px;
}

input {
    font-weight: 600;
    font-size: 1.5rem;
    background-color: lime;
    border: 5px inset;
    border-color: aliceblue;
    padding: 5px;
}

.labels {
    margin: 2px;
}
